.wishlistTitle {
    text-align: center;
}

.wishlistSliderContainer {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow-x: auto;
}

.wishlistSlider {
    display: flex;
    flex-direction: row;
}
