.wishlistProductCard {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    align-items: center;
    margin: 0 4px;
	min-width: 125px;
}

ul {
    list-style-type: none;
}

.productImageContainer {
    display: flex;
    align-items: center; /* vertical align */
    justify-content: center; /*horizontal align */
    height: 40%;
    width: 100%;
}

.productImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.productInformation {
	display: flex;
    align-items: center;
	flex-direction: column;
	text-align: center;
}