.container {
    display: flex;
    flex-direction: row;
    width: 100%
}

.imageContainer {
    width:20%;
}

.image{
    width: 100%;
    height: 100%;
}

.productInformation {
}

.addToWishlist {
    display:flex;
    margin-top: 75%;
}
